<template name="userCreate">
  {{#if Template.subscriptionsReady}}
  <div class="container-overlap bg-blue-500">
    <div class="media m0 pv">
      <div class="media-left"></div>
      <div class="media-body media-middle">
        <h4 class="media-heading">New User</h4>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div  class="card">
          <h5 class="card-heading pb0">User Details <small class="pull-right text-danger">* Required fields</small></h5>
          <div class="card-body">
            <form id="new-user-form" name="newUserForm" novalidate="" class="form-validate" action="">
              <div class="row">
                <div class="col-md-12">
                  <div class="mda-form-group">
                    <div class="mda-form-control">
                      <input type="email" name="email" id="email" required="true" class="form-control"/>
                      <div class="mda-form-control-line"></div>
                      <label>Email *</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="mda-form-group">
                    <div class="mda-form-control">
                      <input type="password" name="password" id="password" required="true" class="form-control"/>
                      <div class="mda-form-control-line"></div>
                      <label>Password *</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="mda-form-group">
                    <div class="mda-form-control">
                      <input type="password" name="confirmPassword" id="confirmPassword" required="true" class="form-control"/>
                      <div class="mda-form-control-line"></div>
                      <label>Confirm Password *</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="mda-form-group">
                    <div class="mda-form-control">
                      <select required="true" class="form-control" name="status" id="status">
                        <option value="Active">Active</option>
                        <option value="Suspended">Suspended</option>
                      </select>
                      <div class="mda-form-control-line"></div>
                      <label>Status *</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>
