<template name="locationView">
  {{#if Template.subscriptionsReady}}
  <div class="container-overlap bg-blue-500">
    <div class="media m0 pv">
      <div class="media-left"></div>
      <div class="media-body media-middle">
        <h4 class="media-heading">{{location.name}}</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <!-- Left column-->
      <div class="col-md-7 col-lg-8">
        <div class="card">
          <h5 class="card-heading pb0">
            <!-- START dropdown-->
            <div class="pull-right dropdown">
              <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="#" title="Edit location" id="editLocationBtn">Edit</a></li>
                <li><a href="#" title="Delete Location" id="deleteLocationBtn">Delete</a></li>
              </ul>
            </div>
            Address Information
          </h5>
          <div class="card-body">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Street:</td>
                  <td>{{location.street}}</td>
                </tr>
                <tr>
                  <td>Street Cont.:</td>
                  <td>{{location.streetCont}}</td>
                </tr>
                <tr>
                  <td>City:</td>
                  <td>{{location.city}}</td>
                </tr>
                <tr>
                  <td>State:</td>
                  <td>{{location.state}}</td>
                </tr>
                <tr>
                  <td>Postal</td>
                  <td>{{location.postal}}</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>{{location.phone}}</td>
                </tr>
                <tr>
                  <td>Fax:</td>
                  <td>{{location.fax}}</td>
                </tr>
                <tr>
                  <td>Active:</td>
                  <td>{{active location.status}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-divider"></div>
          <h5 class="card-heading pb0">Active Jobs</h5>

          <div class="card-body">
            <div class="table-responsive bootgrid">
              <table id="bootgrid-command" class="table table-striped table-vmiddle">
                <thead>
                  <tr>
                    <th data-column-id="id">ID</th>
                    <th data-column-id="user">User</th>
                    <th data-column-id="description">Name</th>
                    <th data-column-id="created">Created</th>
                    <th data-column-id="expectedFinish">Expected Finish</th>
                    <th data-column-id="status">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each jobs}}
                    <tr>
                      <td><a href="/job/{{_id}}/view" title="View Job {{_id}}">{{_id}}</a></td>
                      <td><a href="/user/{{userId}}/view" title="View User {{userEmail userId}}">{{userEmail userId}}</a></td>
                      <td>{{name}}</td>
                      <td>{{shortDate created}}</td>
                      <td>{{shortDate expectedFinish}}</td>
                      <td>{{status}}</td>
                    </tr>
                  {{else}}
                  <tr>
                    <td colspan="6">No Jobs</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Right column-->
      <div class="col-md-5 col-lg-4">
        <div class="card">
          <h5 class="card-heading">
            <!-- START dropdown-->
            <div class="pull-right dropdown">
              <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                {{#if isInRole 'Admin'}}
                <li><a href="#" title="New Room" id="newRoom">New Room</a></li>
                {{/if}}
              </ul>
            </div>
            <!-- END dropdown-->Rooms
          </h5>
          <div class="table-responsive bootgrid">
            <table class="table table-striped">
              <tbody>
                {{#each rooms}}
                <tr>
                  <td><a href="/location/{{location._id}}/room/{{_id}}/view" title="View Room">{{name}}</a></td>
                  <td>{{type}}</td>
                  <td>{{active active}}</td>
                </tr>
                {{else}}
                <tr>
                  <td colspan="3">No Rooms</td>
                </tr>
                {{/each}}
              </tbody>
            </table>

            <div class="card-divider"></div>
            <h5 class="card-heading">Machines</h5>
            <div class="card-body pb0">
              <p class="pull-left mr"><em class="ion-record text-info"></em></p>
              <div class="oh">
                <p><strong class="mr-sm">Closed Loop Extractor</strong></p>
                <div class="clearfix">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#if isInRole 'Admin'}}
  <!-- New Room Form -->
  <div tabindex="-1" role="dialog" class="modal fade modal-compose" id="newRoomBtn">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5>New Room <small class="pull-right">* Required fields</small></h5>
         </div>
        <div class="modal-body">
          <form id="newRoomForm" name="newRoomForm" novalidate="" class="form-validate">

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input type="text" name="name" id="name" required minlength="2" class="form-control"/>
                    <div class="mda-form-control-line"></div>
                    <label>Name *</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <textarea name="description" id="description" required="true" ria-required="true" aria-invalid="true" class="form-control"></textarea>
                    <div class="mda-form-control-line"></div>
                    <label>Description *</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <select name="type" id="type" required="true" class="form-control">
                      <option value="Office">Office</option>
                      <option value="Office">Kitchen</option>
                      <option value="Prep">Prep</option>
                      <option value="Extraction">Extraction</option>
                      <option value="Distillation">Distillation</option>
                    </select>
                    <div class="mda-form-control-line"></div>
                    <label>Room Type</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mb">
                  <label class="mda-checkbox">
                    <input type="checkbox" value="" id="active" name="active"/><em class="bg-blue-500 empty"></em> Active
                  </label>
                </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary" id="saveRoomBtn">Save</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for update location -->
  <div tabindex="-1" role="dialog" class="modal fade modal-compose" id="editLocationModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <form action="" novalidate="" id="locationForm" class="form-validate">

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name *</label>
                    <div class="col-sm-10">
                      <input type="text" name="locationName" id="locationName" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Street *</label>
                    <div class="col-sm-10">
                      <input type="text" name="street" id="street" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Street Cont</label>
                    <div class="col-sm-10">
                      <input type="text" name="streetCont" id="streetCont" required="false" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">City *</label>
                    <div class="col-sm-10">
                      <input type="text" name="city" id="city" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">State *</label>
                    <div class="col-sm-10">
                      <input type="text" name="state" id="state" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Postal *</label>
                    <div class="col-sm-10">
                      <input type="text" name="postal" id="postal" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Phone *</label>
                    <div class="col-sm-10">
                      <input type="text" name="phone" id="phone" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Fax</label>
                    <div class="col-sm-10">
                      <input type="text" name="fax" id="fax" required="false" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Active</label>
                  <div class="col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" value="" id="locationActive" name="locationActive"/>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <input type="hidden" name="_id" id="_id" value="" />
            <button type="button" class="btn btn-success" id="locationSaveBtn" name="locationSaveBtn">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  {{/if}}
</template>
