<template name="layout">
    <div class="layout-container">
        <header class="header-container">{{> header }}</header>
        <aside class="sidebar-container">{{> sidebar }}</aside>
        <div class="sidebar-layout-obfuscator"></div>
        <main class="main-container">
            <section>{{> yield }}</section>
            <footer>
                <span>2018 - {{siteName}}.</span>
            </footer>
        </main>
    </div>
    <!-- Search template -->
    {{> headerSearch }}
    <!-- End Search template -->
    <!-- Settings template -->
    {{> settings }}
    <!-- End Settings template -->
    {{> yield region="bodyChild" }}
</template>
