<template name="layout">
    <div class="layout-container">
        <header class="header-container">{{> header}}</header>
        <aside class="sidebar-container">{{> sidebar}}</aside>
        <div class="sidebar-layout-obfuscator"></div>
        <main class="main-container">
            <section>{{> yield}}</section>
            <footer>
                <span>{{copyright}} - {{siteName}} - Version: {{siteVersion}}</span>
            </footer>
        </main>
    </div>

    {{#if headerSearch}}
      <!-- Search template -->
      {{> headerSearch}}
      <!-- End Search template -->
    {{/if}}

    {{#if headerSettings}}
      <!-- Settings template -->
      {{> settings}}
      <!-- End Settings template -->
    {{/if}}

    {{> yield region="bodyChild"}}
</template>
