<template name="Admin">
  <div class="container container-lg">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-heading">Admin Menu</div>
            <div class="mda-list mda-list-bordered">
              <div class="mda-list-item">
                <div class="mda-list-item-icon bg-info"><em class="ion-coffee icon-lg"></em></div>
                <div class="mda-list-item-text mda-2-line">
                  <a href="" title="">Grow Types</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>
