<template name="sidebar">
  <div class="sidebar-header">
    <div class="pull-right pt-lg text-muted hidden"><em class="ion-close-round"></em></div>
    <a href="#" class="sidebar-header-logo">
      <img src="/img/logo.png" data-svg-replace="/img/logo.svg" alt="Logo"><span class="sidebar-header-logo-text">{{siteName}}</span>
    </a>
  </div>
  <div class="sidebar-content">
    <div class="sidebar-toolbar text-center"><a href=""><img src="/img/user/01.jpg" alt="Profile" class="img-circle thumb64"></a>
      <div class="mt">{{getUserEmail user.emails}}</div>
    </div>
    <nav class="sidebar-nav">
      <ul>
      {{> userMenu}}
      {{#if isInRole 'Admin'}}
        {{> adminMenu}}
      {{/if}}
      {{#if isInRole 'Developer'}}
        {{#if developerMode}}
          {{> developerMenu}}
        {{/if}}
      {{/if}}
      </ul>
    </nav>
  </div>
</template>
