<template name="job">
  <div class="container-fluid">
    <h5 class="mt0">Jobs</h5>
    <div class="card">
      <div class="table-responsive bootgrid">
        <table id="bootgrid-command" class="table table-striped table-vmiddle">
          <thead>
            <tr>
              <th data-column-id="id">ID</th>
              <th data-column-id="user">User</th>
              <th data-column-id="description">Name</th>
              <th data-column-id="created">Created</th>
              <th data-column-id="expectedFinish">Expected Finish</th>
              <th data-column-id="status">Status</th>
            </tr>
          </thead>
          <tbody>
            {{#each jobs}}
              <tr>
                <td><a href="/job/{{_id}}/view" title="View Job {{_id}}">{{_id}}</a></td>
                <td><a href="/user/{{userId}}/view" title="View User {{userEmail userId}}">{{userEmail userId}}</a></td>
                <td>{{name}}</td>
                <td>{{shortDate created}}</td>
                <td>{{shortDate expectedFinish}}</td>
                <td>{{status}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Floating button for compose-->
  <div class="floatbutton">
    <ul class="mfb-component--br mfb-zoomin">
      <li class="mfb-component__wrap">
        <a id="jobCreate" href="/job/create/0" class="mfb-component__button--main">
          <i class="mfb-component__main-icon--resting ion-android-add"></i>
          <i class="mfb-component__main-icon--active ion-android-add"></i>
        </a>
        <ul class="mfb-component__list"></ul>
      </li>
    </ul>
  </div>
</template>
