<template name="jobFormCreate">
  <div class="container-fluid">
    <h5 class="mt0">New Job Form</h5>
    <form id="new-job-form" name="newJobForm" novalidate="" class="form-validate">
      <div class="card">
        <div class="card-heading"><small class="pull-right">* Required fields</small>
          <div class="panel-title">Job Form Details</div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Form Type *</label>
                  <div class="col-sm-10 col-md-6">
                    <select name="intakeType" id="intakeType" required="true" class="form-control">
                      <option value="">-- Select One --</option>
                      {{#each intakeTypeSelect}}
                        <option value="{{value}}">{{label}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div id="distilate" class="hidden">
            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <legend>Biomass Details</legend>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Grow Type *</label>
                    <div class="col-sm-10 col-md-6">
                      <select name="growType" id="growType" required="true" class="form-control">
                        {{#each growTypeSelect}}
                          <option value="{{value}}">{{label}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Strain</label>
                    <div class="col-sm-10">
                      <input type="text" name="strain" id="strain" required="false" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Condition</label>
                    <div class="col-sm-10 col-md-6">
                      <textarea name="condition" id="condition" required="false" class="form-control"></textarea>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <legend>Lab Information</legend>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Lab Tested</label>
                    <div class="col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" id="labTested" name="labTested"/>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Lab Sheet Provided</label>
                    <div class="col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" id="labSheetProvided" name="labSheetProvided"/>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Enable Tracking System</label>
                    <div class="col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" id="trackingEnabled" name="trackingEnabled"/>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <legend>Intake Weights</legend>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Total Biomass Weight *</label>
                    <div class="col-sm-4">
                      <input type="text" name="biomassWeight" id="biomassWeight" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Container Weight *</label>
                    <div class="col-sm-4">
                      <input type="text" name="containerWeight" id="containerWeight" required="true" class="form-control"/>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <legend>Pre Processing</legend>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Pre Processing Needed</label>
                    <div class="col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" value="" id="prerocessing" name="prerocessing"/>
                        </label>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Pre Processing Notes</label>
                    <div class="col-sm-10 col-sm-6">
                      <textarea name="preprocessingNote" id="preprocessingNote" required="false" class="form-control"></textarea>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <fieldset>
                   <legend>Deliverables</legend>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Return Type *</label>
                    <div class="col-sm-10 col-md-6">
                      <select name="returnType" id="returnType" required="true" class="form-control">
                        {{#each returnTypeSelect}}
                          <option value="{{value}}">{{label}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>

          </div>
          <hr/>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
