<template name="jobHistory">
  <div class="container-overlap bg-blue-500">
    <div class="media m0 pv">
      <div class="media-left"></div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Job History</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <h5 class="card-heading pb0">Job History</h5>
          <div class="card-body">
            <div class="table-responsive bootgrid">
              <table id="job-history" class="table table-striped table-vmiddle">
                <tbody>
                {{#each jobHistory}}
                  <tr>
                    <td>
                      <p>{{message}}</p>
                      <p class="small text-muted">
                        <a href="/user/{{createdBy}}/view" title="View {{userEmail createdBy}}">{{userEmail createdBy}}</a> - {{longDate created}}
                      </p>
                    </td>
                  </tr>
                  {{else}}
                  <tr>
                    <td>No History</td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
