<template name="jobUpdate">
  <div class="container-overlap bg-blue-500">
    <div class="media m0 pv">
      <div class="media-left"></div>
      <div class="media-body media-middle">
        <h4 class="media-heading">Edit Job</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <form id="new-job-form" name="newJobForm" novalidate="" class="card">
          <div class="card-heading">Job Details <small class="pull-right text-danger">* Required fields</small></div>
          <div class="card-body">

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <select name="userId" id="userId" required="true" class="form-control">
                      {{#each userSelectList}}
                        <option value="{{value}}" {{selected job.userId}}>{{label}}</option>
                      {{/each}}
                    </select>
                    <div class="mda-form-control-line"></div>
                    <label>User <small class="text-danger">*</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <select name="locationId" id="locationId" required="true" aria-required="true" aria-invalid="true" class="form-control">
                    {{#each locations}}
                      <option value="{{value}}" {{selected value locationId}}>{{label}}</option>
                    {{/each}}
                    </select>
                    <div class="mda-form-control-line"></div>
                    <label>Location <small class="text-danger">*</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input type="text" name="name" id="name" required="true" class="form-control" value="{{job.name}}"/>
                    <div class="mda-form-control-line"></div>
                    <label>Name <small class="text-danger">*</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <textarea rows="6" class="form-control" name="description" id="description" required="true">{{job.description}}</textarea>
                    <div class="mda-form-control-line"></div>
                    <label>Description <small class="text-danger">*</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input type="text" name="start" id="start" required="true" class="form-control" placeholder="Select a date.." value="{{shortDate job.start}}"/>
                    <div class="mda-form-control-line"></div>
                    <div id="datepicker-container-1" class="ui-datepicker ui-datepicker-popup dp-theme-primary"></div>
                    <label>Start <small class="text-danger">*</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input type="text" name="expectedFinish" id="expectedFinish" required="true" class="form-control" placeholder="Select a date.." value="{{shortDate job.expectedFinish}}"/>
                    <div class="mda-form-control-line"></div>
                    <div id="datepicker-container-2" class="ui-datepicker ui-datepicker-popup dp-theme-primary"></div>
                    <label>Expected Finish <small class="text-danger">*</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                    <input type="text" name="finish" id="finish" required="true" class="form-control" placeholder="Select a date.." value="{{shortDate job.finish}}"/>
                    <div class="mda-form-control-line"></div>
                    <div id="datepicker-container-3" class="rel-wrapper ui-datepicker ui-datepicker-popup dp-theme-primary"></div>
                    <label>Finish <small class="text-danger">*</small></label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="mda-form-group">
                  <div class="mda-form-control">
                      <select name="status" id="status" required="true" class="form-control">
                        {{#each jobStatusSelectList}}
                          <option value="{{value}}" {{selected job.status value}}>{{label}}</option>
                        {{/each}}
                      </select>
                      <div class="mda-form-control-line"></div>
                      <label>Status *</label>
                    </div>
                  </div>
              </div>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
