<template name="jobView">
  {{#if Template.subscriptionsReady}}
  <div class="container-overlap bg-blue-500">
    <div class="media m0 pv">
      <div class="media-left"></div>
      <div class="media-body media-middle">
        <h4 class="media-heading">View Job</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <div class="card">
          <h5 class="card-heading pb0">
            <!-- START dropdown-->
            <div class="pull-right dropdown">
              <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
              <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                <li><a href="job/{{job._id}}/edit" title="Edit this Job">Edit</a></li>
                <li><a href="#" title="Delete this Job" id="deleteJob">Delete</a></li>
                <li><a href="job/{{job._id}}/form/create">New Form</a></li>
                <li><a href="job/{{job._id}}/note/create">New Note</a></li>
              </ul>
            </div>
            <!-- END dropdown-->
            Details
          </h5>
          <div class="card-body">
            <p>{{job.description}}</p>
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>ID:</td>
                  <td>{{job._id}}</td>
                </tr>
                <tr>
                  <td>User:</td>
                  <td><a href="/user/{{job.userId}}/view" title="View user {{userEmail job.userId}}">{{userEmail job.userId}}</a></td>
                </tr>
                <tr>
                  <td>Status:</td>
                  <td>{{job.status}}</td>
                </tr>
                <tr>
                  <td>Created:</td>
                  <td>{{shortDate job.created}}</td>
                </tr>
                <tr>
                  <td>Started:</td>
                  <td>{{#if job.start}}{{shortDate job.start}}{{else}}Not Started{{/if}}</td>
                </tr>
                <tr>
                  <td>Expected Finish:</td>
                  <td>{{shortDate job.expectedFinish}}</td>
                </tr>
                <tr>
                  <td>Finish:</td>
                  <td>{{#if job.finish}}{{shortDate job.finish}}{{else}}Not Finished{{/if}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-divider"></div>
          <h5 class="card-heading">Forms</h5>
          <div class="card-body">
            <div class="table-responsive bootgrid">
              <table id="job-forms" class="table table-striped table-vmiddle">
                <thead>
                  <tr>
                    <th>Form</th>
                    <th>Created</th>
                    <th>Created By</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {{#each jobForms}}
                  <tr>
                    <td><a href="#" title="View form {{intakeTypeName intakeType}}" id="viewJobForm">{{intakeTypeName intakeType}}</a></td>
                    <td>{{shortDate created}}</td>
                    <td><a href="/user/{{createdBy}}" title="View {{userEmail createdBy}}">{{userEmail createdBy}}</a></td>
                    <td class="text-right">
                      <button type="button" class="btn btn-flat btn-sm btn-info" id="jobFormEdit" data-row-id="{{_id}}"><em class="ion-edit"></em></button>
                      <button type="button" class="btn btn-flat btn-sm btn-danger" id="jobFormDelete" data-row-id="{{_id}}"><em class="ion-trash-a"></em></button>
                    </td>
                  </tr>
                  {{else}}
                  <tr>
                    <td colspan="3">No Forms</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-divider"></div>
          <h5 class="card-heading">Notes</h5>
          <div class="card-body">

          </div>
        </div>
      </div>
      <!-- right column -->
      <div class="col-md-5 col-lg-4">
        <div class="card">
          <h5 class="card-heading">History</h5>
          <div class="card-body">
            <div class="table-responsive bootgrid">
              <table id="job-history" class="table table-striped table-vmiddle">
                <tbody>
                {{#each jobHistory}}
                  <tr>
                    <td>
                      <p>{{message}}</p>
                      <p class="small text-muted">
                        <a href="/user/{{createdBy}}/view" title="View {{userEmail createdBy}}">{{userEmail createdBy}}</a> - {{longDate created}}
                      </p>
                    </td>
                  </tr>
                  {{else}}
                  <tr>
                    <td>No History</td>
                  </tr>
                {{/each}}
                </tbody>
              </table>
            </div>
            <div class="card-body pv0 text-right"><a href="#" class="btn btn-flat btn-info">View all</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- View Form -->
  <div tabindex="-1" role="dialog" class="modal fade modal-compose" id="jobFormModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span id="intakeType"></span></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <p><b>Created By:</b> <span id="createdBy"></span> <b>on:</b> <span id="created"></span></p>
            </div>
          </div>
          <h4>Biomass Details</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Grow Type:</b> <span id="growType"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Strain:</b> <span id="strain"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Condition:</b> <span id="condition"></span></p>
            </div>
          </div>
          <h4>Lab Information</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Lab Tested:</b> <span id="labTested"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Lab Sheet Provided:</b> <span id="labSheetProvided"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Tracking Enabled:</b> <span id="trackingEnabled"></span></p>
            </div>
          </div>
          <h4>Intake Weights</h4>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive bootgrid">
                <table class="table table-striped table-vmiddle">
                  <thead>
                    <tr>
                      <th class="col-md-2"></th>
                      <th>Kilos</th>
                      <th>Grams</th>
                      <th>Ounces</th>
                      <th>Pounds</th>
                      <th>Tons</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b class="small">Gross Weight</b></td>
                      <td id="kilos"></td>
                      <td id="grams"></td>
                      <td id="ounces"></td>
                      <td id="pounds"></td>
                      <td id="tons"></td>
                    </tr>
                    <tr>
                      <td><b class="small">Container Weight</b></td>
                      <td id="containerKilos"></td>
                      <td id="containerGrams"></td>
                      <td id="containerOunces"></td>
                      <td id="containerPounds"></td>
                      <td id="containerTons"></td>
                    </tr>
                    <tr>
                      <td><b class="small">Net Weight</b></td>
                      <td id="netKilos"></td>
                      <td id="netGrams"></td>
                      <td id="netOunces"></td>
                      <td id="netPounds"></td>
                      <td id="netTons"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <h4>Estimated Yields</h4>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive bootgrid">
                <table class="table table-striped table-vmiddle">
                  <thead>
                    <th class="col-md-2"></th>
                    <th>Kilos</th>
                    <th>Grams</th>
                    <th>Ounces</th>
                    <th>Pounds</th>
                    <th>Tons</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td><b class="small">5% Distillate Yield</b></td>
                      <td id="yieldKilos"></td>
                      <td id="yieldGrams"></td>
                      <td id="yieldOunces"></td>
                      <td id="yieldPounds"></td>
                      <td id="yieldTons"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <h4>Pre Processing</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Pre Processing Needed:</b> <span id="prerocessing"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Pre Processing Notes:</b> <span id="prerocessingNote"></span></p>
            </div>
          </div>
          <h4>Deliverables</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Deliverables:</b> <span id="returnType"></span></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{/if}}
</template>
