<template name="jobView">
  {{#if Template.subscriptionsReady}}
  <div class="container-overlap bg-blue-500">
    <div class="media m0 pv">
      <div class="media-left"><a href="#"><img src="/img/user/03.jpg" alt="User" class="media-object img-circle thumb64"/></a></div>
      <div class="media-body media-middle">
        <h4 class="media-heading">{{job.name}}</h4><span class="text-muted"><b>Status:</b> {{job.status}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 col-lg-8">
      <form editable-form="" name="user.profileForm" class="card">
        <h5 class="card-heading pb0">
          <!-- START dropdown-->
          <div class="pull-right dropdown">
            <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
            <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
              <li><a href="job/{{job._id}}/edit" title="Edit this Job">Edit</a></li>
              <li><a href="#" title="Delete this Job" id="deleteJob">Delete</a></li>
              <li><a href="job/{{job._id}}/form/create">New Form</a></li>
              <li><a href="job/{{job._id}}/note/create">New Note</a></li>
            </ul>
          </div>
          <!-- END dropdown-->
          Details
        </h5>
        <div class="card-body">
          <p>{{job.description}}</p>
          <div class="row">
            <div class="col-md-3 col-lg-2"><p><b>ID:</b></p></div>
            <div><p>{{job._id}}</p></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-2"><p><b>User:</b></p></div>
            <div><p><a href="/user/{{job.userId}}/view" title="View user {{userEmail job.userId}}">{{userEmail job.userId}}</a></p></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-2"><p><b>Status:</b></p></div>
            <div><p>{{job.status}}</p></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-2"><p><b>Created:</b></p></div>
            <div><p>{{shortDate job.created}}</p></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-2"><p><b>Started:</b></p></div>
            <div><p>
              {{#if job.start}}
                {{shortDate job.start}}
              {{else}}
                Not Started
              {{/if}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-2"><p><b>Expected Finish:</b></p></div>
            <div><p>{{shortDate job.expectedFinish}}</p></div>
          </div>
          <div class="row">
            <div class="col-md-3 col-lg-2"><p><b>Finish:</b></p></div>
            <div><p>
              {{#if job.finish}}
                {{shortDate job.finish}}
              {{else}}
                Not Finished
              {{/if}}
              </p>
            </div>
          </div>
        </div>
      </form>
      <div class="card">
        <h5 class="card-heading">Forms</h5>
        <div class="card-body">
          <div class="table-responsive bootgrid">
            <table id="job-forms" class="table table-striped table-vmiddle">
              <thead>
                <tr>
                  <th>Form</th>
                  <th>Created</th>
                  <th>Created By</th>
                </tr>
              </thead>
              <tbody>
                {{#each jobForms}}
                <tr>
                  <td><a href="#" title="View form {{intakeTypeName intakeType}}" id="viewJobForm">{{intakeTypeName intakeType}}</a></td>
                  <td>{{shortDate created}}</td>
                  <td><a href="/user/{{createdBy}}" title="View {{userEmail createdBy}}">{{userEmail createdBy}}</a></td>
                </tr>
                {{else}}
                <tr>
                  <td colspan="3">No Forms</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <h5 class="card-heading">Notes</h5>
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-4">
      <div class="card">
        <h5 class="card-heading">History</h5>
        <div class="card-body">
          <div class="table-responsive bootgrid">
            <table id="job-history" class="table table-striped table-vmiddle">
              <tbody>
              {{#each jobHistory}}
                <tr>
                  <td>
                    <p>{{message}}</p>
                    <p class="small text-muted">
                      <a href="/user/{{createdBy}}/view" title="View {{userEmail createdBy}}">{{userEmail createdBy}}</a> - {{longDate created}}
                    </p>
                  </td>
                </tr>
                {{else}}
                <tr>
                  <td>No History</td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- View Form -->
  <div tabindex="-1" role="dialog" class="modal fade modal-compose" id="jobFormModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><span id="intakeType"></span></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <p><b>Created By:</b> <span id="createdBy"></span> <b>on:</b> <span id="created"></span></p>
            </div>
          </div>
          <h4>Biomass Details</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Grow Type:</b> <span id="growType"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Strain:</b> <span id="strain"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Condition:</b> <span id="condition"></span></p>
            </div>
          </div>
          <h4>Lab Information</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Lab Tested:</b> <span id="labTested"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Lab Sheet Provided:</b> <span id="labSheetProvided"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Tracking Enabled:</b> <span id="trackingEnabled"></span></p>
            </div>
          </div>
          <h4>Intake Weights</h4>
          <div class="row">
            <div class="col-lg-12">
              <div class="table-responsive bootgrid">
                <table class="table table-striped table-vmiddle">
                  <thead>
                    <tr>
                      <th>Kilos</th>
                      <th>Grams</th>
                      <th>Ounces</th>
                      <th>Pounds</th>
                      <th>Tons</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td id="kilos"></td>
                      <td id="grams"></td>
                      <td id="ounces"></td>
                      <td id="pounds"></td>
                      <td id="tons"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <h4>Pre Processing</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Pre Processing Needed:</b> <span id="prerocessing"></span></p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Pre Processing Notes:</b> <span id="prerocessingNote"></span></p>
            </div>
          </div>
          <h4>Deliverables</h4>
          <div class="row">
            <div class="col-lg-12">
              <p><b>Deliverables:</b> <span id="returnType"></span></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  {{/if}}
</template>
